<ion-header no-border class="black-header">
    <ion-toolbar color="primary" mode="ios" [class.transparent-background]="IsTransparent">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          <ion-button *ngIf="cangoback" (click)="goback()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
             
              <ion-menu-toggle *ngIf="!cangoback">
                <ion-button>
                  <ion-icon name="menu"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
        </ion-buttons>
      
      <ion-title>{{title}}</ion-title>
      
      <ion-buttons slot="end">
        <ion-button *ngIf="rightBtn" (click)="rightBtnAction.emit($event)">
          <ion-icon [name]="rightBtnIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
      
  
    </ion-toolbar>
  </ion-header>