.transparent-bg{
    --background: transparent;
}
.light-bg {
    background-color: #ffffff;
    ion-label, ion-text, p  {
        color: #000000;
        font-size:0.8em;
    }
}


.pink {
    background-color: #f4d4c9;
    padding: 0 0.5rem;
    p {
        color: #000000;
        width:100%;
        display: inline-block;
    }
}

.green {
    background-color: #e4f5df;
    padding: 0 0.5rem;
    p {
        color: #2d8614;
        width:100%;
        display: inline-block;
    }
}

.gray {
    background-color: #eaeaea;
    padding: 0 0.5rem;
    p {
        color: #373737;
        width:100%;
        display: inline-block;
    }
}

ion-thumbnail {
    --size: auto;
    border:1px solid #fff;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px;
    line-height: 0;
}
ion-label {
    font-size: 14px!important;
    padding: 0.5rem 0!important;
    color: #000000;
    width:100%;
    display: inline-block;
}
ion-text {
    font-size: 13px!important;
    color: #000000;
    width:100%;
    display: inline-block;
}
p.qrcode {
    font-size: 12px!important;
    font-weight: 600!important;
    font-family: monospace!important;
}
.myCard{
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        display: inline-block;
        position: absolute;
        height: 30px;
        width: 35px;
        background-color: #0a1f42;
        z-index: 999;
        border-radius: 100%;
        left: -7%;
        bottom: 0;
    }
    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        height: 30px;
        width: 38px;
        background-color: #0a1f42;
        z-index: 999;
        border-radius: 100%;
        right: -8%;
        top: 0;
    }
}

.recipient_btn {
    border-radius: 50px;
    border: 1px solid red;
    --background: none;
    --background-focused: none;
    --background-hover: none;
    --background-activated: none;
    --color: red;
    --color-activated: red;
    --color-focused: red;
    font-size: 0.8em;
}