<ion-grid>
    <ion-row class="myCard">
        <ion-col size="9" class="light-bg">
            <ion-item class="transparent-bg">
                <ion-avatar slot="start">
                    <img [src]="avatar">
                </ion-avatar>
                <ion-label text-wrap>
                    <h3>{{name}}</h3>
                    <p>{{sender}}</p>
                    <p>{{community}}</p>
                </ion-label>
            </ion-item>
            <ion-row>
                <ion-col size="12">
                    <p>{{discription}}</p>
                    <ion-button (click)="sendContacts()" *ngIf="ShowButton" class="recipient_btn">SHOW RECIPIENT(S)</ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col [class]="cardColor" size="3" text-center>
            <!-- <p>{{cardColor}}</p> -->
            <ion-label>{{startFormattedDates}}</ion-label>
            <ion-text>{{formatHoursToText}}</ion-text>
            <br/>
            <ion-thumbnail>
                <img src="../../../assets/imgs/qrcode.jpg">
            </ion-thumbnail>
            <!-- <p class="qrcode">{{qrcode}}</p> -->
        </ion-col>
    </ion-row>
</ion-grid>
