<ion-header>
    <ion-toolbar color="primary">

        <ion-searchbar [showCancelButton]="'always'" (ionCancel)="onSelectEvent(null)"
            (search)="getItems($event, true)" (ionInput)="getItems($event, false)">
        </ion-searchbar>

    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list *ngIf="phone_contacts.length > 0">
        <ion-item-sliding *ngFor="let item of phone_contacts; let i = index">
            <ion-item>
                <ion-checkbox color="dark" slot="start" [(ngModel)]="phone_contacts[i]['checked']"
                    name="phone_contacts-{{i}}"></ion-checkbox>
                <ion-label>
                    <h2>{{item.display_name}}</h2>
                    <p>{{item.phone_number}}</p>
                </ion-label>
                <ion-icon *ngIf="item.phone_numbers.length > 1" name="more"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable (click)="selectAnotherNumber($event, item)">
                    <ion-icon name="create"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <app-empty-view *ngIf="phone_contacts.length == 0" icon="contacts" text="No Contacts Found"></app-empty-view>



</ion-content>
<ion-footer padding *ngIf="phone_contacts.length > 0">
    <ion-button expand="block" shape="round" color="primary" (click)="finishSync()">Import Selected</ion-button>
</ion-footer>