ion-toolbar {
    --background: transparent !important;
    --ion-color-base: transparent !important;
  }
  .form_title {
    text-align: center;
  }

  ion-content.full-image-background{
    --background: url(../../../assets/imgs/become_back.jpg)0 0 / cover;
  }
  ion-content {
    .fixed-content, .scroll-content {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      -webkit-transform: translate(-50%, -65%);
      top: 50%;
      left: 0%;
      transform: translate(0%, -85%);
      overflow: initial;
    }
    .logo {
      margin: 0 -15px;
      margin-bottom: 20px !important;
    }
    ion-list.translucent {
      background: rgba(255, 255, 255, 0.85);
      padding-top: 15px;
      padding-bottom: 15px;
      ion-item {
        padding: 0px !important;
        border-top: 0px !important;
        --background: transparent !important;
        border-bottom: 1px solid #f3f3f3 !important;
        ion-label {
          color: #053058;
          text-transform: uppercase;
          ion-icon {
            font-size: 2.4em;
            position: absolute;
            right: 15px;
            color: #484848;
          }
        }
      }
    }
    .item-block .item-inner {
      padding: 10px 19px 0 !important;
      border-bottom: 0px !important;
    }
    .label-ios[stacked] {
      font-size: 1.1rem;
    }
  }
  ion-icon{
    margin-left: 30px;
  }
  ion-footer {
    --position: absolute;
  }
  .left-con-padding {
    button {
      width: 100%;
      padding: 10px;
      background-color: var(--ion-color-primary) !important;
      color:#fff;
      border-radius: 30px;
      font-size: 1em;
    }
  }
  .proceed_btn {
    background-color:transparent;
  }
