<div class="container">
    <ion-icon [name]="icon" *ngIf="!image"></ion-icon>
    <img [src]="image" *ngIf="image" width="20%" />
    <ion-text color="medium">
      <p class="bold">{{ text }}</p>
    </ion-text>
  </div>
