<!-- <ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content color="light" fullscreen="true" scrollY="false">

  <div class="logo-outer">
      <img [src]="assetlink + 'logo_tutorial.png'" class="logo-tutorial" />
      <ion-button class="skiptour" shape="round" size="small" color="secondary" (click)="signup()">Skip Tour</ion-button>
  </div>
  

  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let item of slideData">
      <ion-grid class="h-100">
        <ion-row align-items-center  class="h-100">
            <ion-card color="light">
                <!-- <ion-card-header>
                  
                </ion-card-header> -->
                <ion-card-content>
                  <ion-card-subtitle>{{item.heading}}</ion-card-subtitle>
                  <ion-card-title>{{item.headingbold}}</ion-card-title>
                  <img class="slide-image" [src]="assetlink + item.image">
                  <div class="slide-description">{{item.content}}</div>
                </ion-card-content>
              </ion-card>
        </ion-row>
      </ion-grid>
      
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer padding>
  <ion-button expand="block" shape="round" color="primary" (click)="goToNextSlide()"> Continue</ion-button>
  <ion-button expand="block" fill="none" size="small" clear text-center class="alreadysign" (click)="this.openLoginPage()">Already a Member? Sign In</ion-button>
</ion-footer>