<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content> -->
  <!-- List of Text Items -->
  <ion-list>

      <ion-menu-toggle>
          <ion-item (click)="openPage('/tabs/dashboard/verification-code')"> 
            <ion-label>Become Resident</ion-label>
          </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
          <ion-item (click)="openPage('/tabs/dashboard/households')">  
            <ion-label>Manage Household</ion-label>
          </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
          <ion-item (click)="openPage('/tabs/dashboard/settings')">   
            <ion-label>Settings</ion-label>
          </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
          <ion-item (click)="openPage('/tabs/dashboard/profile')"> 
            <ion-label>Edit Profile</ion-label>
          </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
          <ion-item (click)="openPage('logout')"> 
            <ion-label>Logout</ion-label>
          </ion-item>
      </ion-menu-toggle>
    
  </ion-list>
<!-- </ion-content> -->