<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{item?.event_name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content padding color="tertiary">
  <ion-grid>
    <ion-row justify-content-center>
      <img *ngIf="item?.visitor_type == '1'"
        [src]="(item?.licence_image == null) ? 'assets/imgs/pass.png' : item?.licence_image" />
      <img *ngIf="item?.visitor_type == '2'" src="assets/imgs/delivery.jpg" />
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center text-wrap>
        <h2 text-uppercase>{{item?.event_name}}</h2>
      </ion-col>
      <ion-col>
        <ion-item lines="none" color="tertiary">
          <ion-label>
            <h2>Starts</h2>
            <small>{{item?.to_date}}</small><br><small>{{item?.to_date_time}}</small>
          </ion-label>
          <ion-icon slot="end" name="clock"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none" color="tertiary">
          <ion-label>
            <h2>Expires</h2>
            <small>{{item?.for_date}}</small><br><small>{{item?.for_date_time}}</small>
          </ion-label>
          <ion-icon slot="end" name="clock"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-item lines="none" color="tertiary">
      <ion-label>
        <h4 text-uppercase>Sender Info</h4>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-label text-wrap>
        <h2>Community Name:</h2>
        <p><strong>{{item?.community}}</strong></p>
      </ion-label>
      <ion-button *ngIf="item" color="secondary" shape="round" expand="full"><strong
          *ngIf="item?.visitor_type != 2">Family / Friend</strong>
        <strong *ngIf="item?.visitor_type == 2">Vendor / Delivery</strong></ion-button>
    </ion-item>
    <ion-item lines="none" color="tertiary" (click)="addToContact(item)">
      <ion-label text-wrap>
        <h2>Sender Name:</h2>
        <p><strong>{{item?.sender}}</strong></p>
      </ion-label>
      <ion-icon *ngIf="contact_added" slot="end" name="add-circle-outline"></ion-icon>
    </ion-item>

    <ion-item lines="none" color="tertiary" (click)="callMe(item?.phone)">
      <ion-label text-wrap>
        <h2>Sender Phone #:</h2>
        <p><strong *ngIf="item?.phone" [innerHtml]="utility.onkeyupFormatPhoneNumberRuntime(item?.phone)"></strong></p>
      </ion-label>
      <ion-icon slot="end" name="call"></ion-icon>
    </ion-item>
    <ion-item lines="none" color="tertiary" (click)="getDirection(item?.description)">
      <ion-label text-wrap>
        <p>{{item?.description}}</p>
      </ion-label>
      <ion-icon slot="end" name="navigate"></ion-icon>
    </ion-item>
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>Scan QRCode</ion-card-title>
        <ion-card-subtitle>Please use the QR code below for scanning and verification</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ngx-qrcode *ngIf="item != null" size="200" [(qrc-value)]="item.qrcode"></ngx-qrcode>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="item != null" (click)="addareminder(item)" expand="full" fill="outline" shape="round" color="light">Add To Calender</ion-button>

  </ion-grid>

</ion-content>