<app-custom-header title="Profile" [cangoback]="!new"></app-custom-header>
<ion-content>
  <form [formGroup]="aForm" (ngSubmit)="update()" novalidate>
    <ion-list>
      <ion-item-divider>
        <ion-label color="tertiary">
          <h2>General Information</h2>
          <p>Profile Picture, Full Name, Email </p>
        </ion-label>
      </ion-item-divider>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size="4" text-center class="profile-image-outer" (click)="getprofileimage()">
            <img [src]="aForm.controls.profile_image.value" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input type="text" formControlName="full_name" placeholder="John A Smith"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" formControlName="email" placeholder="example@mail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date Of Birth</ion-label>
        <ion-datetime mode="ios" displayFormat="MM-DD-YYYY" formControlName="date_of_birth" placeholder="Select Date">
        </ion-datetime>
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-item>

      <ion-item-divider>
        <ion-label color="tertiary">
          <h2>Contact Information</h2>
          <p>Phone, Street Address, Zip Code </p>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-chip slot="start" outline="true" (click)="getCountryCode()">
          <ion-avatar>
            <ion-img src="{{dial_code.image}}"></ion-img>
          </ion-avatar>
          <ion-label>{{aForm.controls.dial_code.value}}</ion-label>
        </ion-chip>
        <ion-input type="tel" (input)="onTelephoneChange($event)" formControlName="phone_number"
          placeholder="Phone Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Street Address</ion-label>
        <ion-input type="text" formControlName="street_address" placeholder="86 Clinton Circle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Appartment</ion-label>
        <ion-input type="text" formControlName="apartment" placeholder="ABC Appartment"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">City</ion-label>
        <ion-input type="text" formControlName="apartment" placeholder="Long Beach"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">State</ion-label>
        <ion-input type="text" formControlName="state" placeholder="Albama"></ion-input>
        <ion-icon *ngIf="dial_code.dial_code == '+1'" (click)="openStateSelection()" slot="end" color="primary"
          name="add-circle-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Zip Code</ion-label>
        <ion-input type="tel" formControlName="zip_code" placeholder="00000" (keyup)="onZipCodeKeyUp($event)">
        </ion-input>
      </ion-item>

      <ion-item-divider>
        <ion-label color="tertiary">
          <h2>Verification</h2>
          <p>Licence Image, Licence Type</p>
        </ion-label>
      </ion-item-divider>

      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-subtitle>License Type</ion-card-subtitle>
          <ion-card-title no-padding>
            <ion-select no-padding formControlName="licence_format">
              <ion-select-option value="dl">Driver's License</ion-select-option>
              <ion-select-option value="si">Student ID</ion-select-option>
              <ion-select-option value="mi">Millitary ID</ion-select-option>
              <ion-select-option value="ps">Passport</ion-select-option>
            </ion-select>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img [src]="aForm.controls.licence_image.value" (click)="getlicanceimage()"></ion-img>
          Please upload a valid form of ID as requested by tap onto image and select from either gallery or camera.
        </ion-card-content>
      </ion-card>


    </ion-list>

    <div padding>
      <ion-button shape="round" color="primary" expand="block" type="submit">UPDATE</ion-button>
    </div>

  </form>

</ion-content>