<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="passes">
      <ion-icon name="card"></ion-icon>
      <ion-label>Passes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="request-pass">
      <ion-icon name="key"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="create-pass">
      <ion-icon name="add"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>