<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [showCancelButton]="'always'" (ionCancel)="onDismiss(null)" (search)="getItems($event, true)" (ionInput)="getItems($event, false)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-virtual-scroll [items]="items" [approxItemHeight]="120">
        <div *virtualItem="let item" > 
            <app-contact-item [id]="item.added_user?.id" [image]="item.its_user?.profileImageUrl" [name]="item.added_user?.fullName"
                [phone]="item.added_user?.phone_number" icon="options" (fireOptions)="options(item)"> 
            </app-contact-item>
        </div>
    </ion-virtual-scroll>

</ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" mode="ios">
      <ion-fab-button size="small" (click)="addContactToList($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer>