<app-custom-header title="Create Pass"></app-custom-header>
<ion-content>
    <ion-list class="translucent">
        <form [formGroup]="aForm" (ngSubmit)="create()" novalidate>

            <ion-item lines="none">
                <ion-label>Pass Date</ion-label>
                <ion-datetime mode="ios" formControlName="pass_date" displayFormat="MM-DD-YYYY hh:mmA"
                    placeholder="Select Date" (ionChange)="setDate($event)"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
                <ion-label>End Date</ion-label>
                <ion-datetime mode="ios" formControlName="pass_end_date" displayFormat="MM-DD-YYYY hh:mmA"
                    placeholder="End Date"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Pass Type</ion-label>
                <ion-select formControlName="pass_type" (ionChange)="onSelectChange($event)">
                    <ion-select-option value="1">One Time</ion-select-option>
                    <ion-select-option value="2">Recurring</ion-select-option>
                    <ion-select-option value="3">Self</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item lines="none">
                <ion-label *ngIf="aForm.controls.pass_type.value != 2">Pass Validity</ion-label>
                <ion-label *ngIf="aForm.controls.pass_type.value == 2">Recurring For</ion-label>
                <ion-select formControlName="pass_validity" (ionChange)="setEndTimeAfterValidityChange($event)">
                    <ion-select-option value="3" *ngIf="aForm.controls.pass_type.value != 2">3 Hours</ion-select-option>
                    <ion-select-option value="6" *ngIf="aForm.controls.pass_type.value != 2">6 Hours</ion-select-option>
                    <ion-select-option value="12" *ngIf="aForm.controls.pass_type.value != 2">12 Hours
                    </ion-select-option>
                    <ion-select-option value="24"
                        [selected]="true || aForm.controls.pass_type.value == 1 || aForm.controls.pass_type.value == 2">
                        24 Hours</ion-select-option>
                    <ion-select-option value="48">48 Hours</ion-select-option>
                    <ion-select-option value="168" *ngIf="aForm.controls.pass_type.value == 2">1 Week
                    </ion-select-option>
                    <ion-select-option value="336" *ngIf="aForm.controls.pass_type.value == 2">2 Weeks
                    </ion-select-option>
                    <ion-select-option value="720" *ngIf="aForm.controls.pass_type.value == 2">1 Month
                    </ion-select-option>
                    <ion-select-option value="876000" *ngIf="aForm.controls.pass_type.value == 2">No Limit
                    </ion-select-option>

                </ion-select>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Visitor Type</ion-label>
                <ion-select formControlName="visitor_type">
                    <ion-select-option value="1">Family / Friend</ion-select-option>
                    <ion-select-option value="2">Vendor / Delivery</ion-select-option>
                </ion-select>
            </ion-item>


            <ion-item lines="none">
                <ion-label>
                    <h2>Pass Event</h2>
                    <p>{{ userEvents[0]?.event_name }}</p>
                </ion-label>
                <ion-icon (click)="openEventSelection()" slot="end" color="primary" name="add-circle-outline">
                </ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-label text-wrap>
                    <h2>Location</h2>
                    <p>{{ aForm.controls.description.value }}</p>
                </ion-label>
                <ion-icon (click)="openLocation()" slot="end" color="primary" name="navigate">
                </ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-label>
                    <h2>Contacts ({{phone_contacts.length}})</h2>
                    <p></p>
                </ion-label>
                <ion-icon *ngIf="phone_contacts.length > 0" (click)="removeAllContactSelection()" slot="end" color="primary" name="close-circle-outline"></ion-icon>
                <ion-icon [hidden]="aForm.controls.pass_type.value == 3" (click)="openContactSelection()" slot="end" color="primary" name="add-circle-outline">
                </ion-icon>
            </ion-item>
            <ion-virtual-scroll [items]="phone_contacts" [approxItemHeight]="120">
                <div *virtualItem="let item" >
                    <app-contact-item [id]="item.id" [name]="item.display_name"
                        [phone]="item.phone_number" icon="close" (fireOptions)="removeContact($event, item)">
                    </app-contact-item>
                </div>
            </ion-virtual-scroll>



        </form>
    </ion-list>
</ion-content>
<ion-footer padding>
    <ion-button expand="block" shape="round" color="primary" (click)="create()">SEND</ion-button>
</ion-footer>