<ion-content padding [fullscreen]="true" [scrollY]="false" color="tertiary">
  <ion-grid class="h-100"> 
    <ion-row align-items-center class="h-100">
      <ion-col></ion-col>
      <ion-col padding align-self-center size="8" text-center>
        <h1>WELCOME TO COACH APP CLUB</h1>
        <ion-icon name="information-circle-outline" style="font-size: 110px;" text-large></ion-icon>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
