<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="full-image-background" fullscreen="true" scrollY="false">

  <!-- <div class="logo-outer">
    <img [src]="'assets/imgs/logo_dark_tutorial.png'" class="logo-tutorial" />
  </div> -->

  <ion-list class="translucent" *ngIf="formtype == 'login'">

    <form [formGroup]="aForm" (ngSubmit)="onLogin()" novalidate autocomplete="off">

      <ion-item>
        <ion-label position="stacked">Phone Number<ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="Phone Number"
          (input)="onTelephoneChange($event, 'A')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
      </ion-item>

      <div padding>
        <ion-button shape="round" expand="block" color="primary" type="submit">Sign In</ion-button>
      </div>

    </form>

    <ion-button size="small" color="primary" fill="clear" expand="block" (click)="formtype = 'signup'">Not a Member?
      &nbsp;&nbsp; <strong>Create Account</strong></ion-button>
    <ion-button size="small" color="primary" fill="clear" expand="block" (click)="formtype = 'forgetpassword'">Forgot
      Password? Click Here</ion-button>

  </ion-list>

  <ion-list class="translucent" *ngIf="formtype == 'signup'">

    <form [formGroup]="bForm" (ngSubmit)="onSignup()" novalidate autocomplete="off">

      <ion-item>
        <ion-label position="stacked">Full Name<ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input type="text" formControlName="name" name="name" placeholder="Full Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone Number<ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="Phone Number"
          (input)="onTelephoneChange($event, 'B')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirm Password <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password_confirm" placeholder="****"></ion-input>
      </ion-item>

      <div padding>
        <ion-button shape="round" expand="block" color="primary" type="submit">Finish</ion-button>
      </div>

    </form>
    <ion-button size="small" color="primary" fill="clear" expand="block" (click)="formtype = 'login'">Already a Member?
      &nbsp;&nbsp; <strong>Login Here</strong></ion-button>

  </ion-list>

  <ion-list class="translucent" *ngIf="formtype == 'forgetpassword'">

    <form [formGroup]="cForm" (ngSubmit)="onForgetPassword()" novalidate>

      <ion-item>
        <ion-label text-wrap position="stacked">
          Please enter your email to retrieve your password
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" formControlName="email" id="email" placeholder="example@info.com"></ion-input>
      </ion-item>

      <div padding>
        <ion-button shape="round" expand="block" color="primary" type="submit">Send Email</ion-button>
      </div>

    </form>
    <ion-button size="small" color="primary" fill="clear" expand="block" (click)="formtype = 'login'">Already a Member?
        &nbsp;&nbsp; <strong>Login Here</strong></ion-button>
    
    <ion-button size="small" color="primary" fill="clear" expand="block" text-wrap (click)="redirectToContactUsFOrm()">
      If you do not have the email, please contact your administrator or <strong>Click Here</strong>
    </ion-button>

  </ion-list>






</ion-content>