<ion-app class="zuulsystems">
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu>
      <app-sidemenu></app-sidemenu>
      
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
<!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
