<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(null)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        RESET
      </ion-button>
      <ion-button (click)="save()">
        DONE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
    <div class="cropper-max-height"> 
      <ngx-cropperjs  #angularCropper [cropperOptions]="options" [imageUrl]="image"></ngx-cropperjs>
      <!-- <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="base64image"></angular-cropper> -->
    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
          <ion-icon name="menu"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="move($event, 0, -10)"><ion-icon name="arrow-up"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="zoom($event, true)"><ion-icon name="add"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="zoom($event, false)"><ion-icon name="remove"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="move($event, 0, 10)"><ion-icon name="arrow-down"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button (click)="move($event, -10, 0)"><ion-icon name="arrow-back"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="scaleY($event)"><ion-icon name="tablet-portrait"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="rotate($event)"><ion-icon name="refresh"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button (click)="move($event, 10, 0)"><ion-icon name="arrow-forward"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="scaleX($event)"><ion-icon name="tablet-landscape"></ion-icon></ion-fab-button>
          
        </ion-fab-list>
      </ion-fab>
</ion-content>