<app-custom-header title="Sync Contacts" [cangoback]="true" [rightBtn]="true" [rightBtnIcon]="selectionIcon" (rightBtnAction)="selectAll($event)"></app-custom-header>
<ion-content class="has-top-switch">

    <div class="filter-components" slot="fixed" >
        <ion-searchbar animated (ionInput)="getItems($event, false)" (search)="getItems($event, true)"></ion-searchbar>
    </div>
    
    <ion-list *ngIf="phone_contacts.length > 0" >
        
        <ion-item align-item-top *ngFor="let item of phone_contacts; let i = index" >
            <ion-checkbox color="dark" slot="start"  [(ngModel)]="phone_contacts[i]['checked']" name="phone_contacts-{{i}}"  ></ion-checkbox>
            <ion-label position="stacked">{{item.display_name}}
                <div *ngIf="item.phone_numbers.length > 1"><small>more then one available</small></div>
            </ion-label>
            <ion-select [(ngModel)]="item.phone_number">
                    <ion-select-option *ngFor="let pn of item.phone_numbers; let i=index" [selected]="i == 0" [value]="pn.value" ><small>{{utility.onkeyupFormatPhoneNumberRuntime(pn.value)}} - {{pn.type}}</small></ion-select-option>
                </ion-select>
        </ion-item>
    </ion-list>

    <app-empty-view *ngIf="phone_contacts.length == 0" icon="contacts"
        text="No Contacts Found"></app-empty-view>
  


</ion-content>
<ion-footer padding *ngIf="phone_contacts.length > 0">
    <ion-button expand="block" shape="round" color="primary" (click)="finishSync()">Import Selected</ion-button>
</ion-footer>
