<ion-row class="scrollable c-scroll-inner" align-item-center>
    <ion-col no-margin no-padding size="1" float-start class="c-scroll-inner-2" [class.active]="alp.enable" (click)="filterByAlpha(alp)" *ngFor="let alp of alphalist">{{alp.alpha}} </ion-col>
</ion-row>