<ion-item (click)="option($event)" color="tertiary">
  <ion-avatar *ngIf="image" slot="start">
      <img [src]="image">
  </ion-avatar>
  <ion-label>
    <h2 *ngIf="heading">{{heading}}</h2>
    <small *ngIf="small">{{small}}</small> 
    <p *ngIf="text">{{text}}</p>
  </ion-label>
  <!-- <ngx-qrcode slot="end" [(qrc-value)]="qrcode"></!-->
   


</ion-item>