<app-custom-header title="Create A Group" [cangoback]="true"></app-custom-header>
<ion-content padding>

    <ion-list class="translucent" >
      <form [formGroup]="aForm" (ngSubmit)="create()" novalidate>
          <ion-item>
              <ion-label position="stacked">Group Name</ion-label>
              <ion-input type="text" formControlName="group_name" id="group_name" placeholder=""></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-input type="text" formControlName="group_description" id="group_description" placeholder=""></ion-input>
            </ion-item>
    
            <div padding>
              <ion-button [disabled]="!aForm.controls.group_name.valid" shape="round" color="primary" expand="block" type="submit"><span *ngIf="id">Update</span><span *ngIf="!id">Create</span></ion-button>
            </div>
      </form>
    </ion-list>
</ion-content>
