<ion-content color="tertiary">
  <ion-virtual-scroll [items]="archivePasses" [approxItemHeight]="120">  
    <div *virtualItem="let item"> 
        <app-pass-list-item [cardColor]="'pink'" [avatar]="item.its_archieve_pass.its_owner.profileImageUrl" [name]="item.its_archieve_pass.get_event.event_name" [sender]="item.its_archieve_pass.its_owner.fullName" [community]="item.its_archieve_pass.its_owner.community_id.name" [discription]="item.its_archieve_pass.description" [startFormattedDates]="item.its_archieve_pass.startFormattedDates" [formatHoursToText]="this.utility.formatHoursToText(item.its_archieve_pass.pass_validity)" [qrcode]="item.qrcode"></app-pass-list-item>
    </div>
</ion-virtual-scroll>
</ion-content>
