<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-custom-header title="Dashboard"></app-custom-header> 
<ion-content color="tertiary">

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-virtual-scroll [items]="plist" [approxItemHeight]="120">
        <div *virtualItem="let item" >
            <app-pass-item [id]="item.id" [image]="item?.its_active_pass?.its_owner.profileImageUrl"
            [heading]="item?.its_active_pass?.get_event.event_name" [small]="'Community: ' + item?.its_active_pass?.its_owner.community_id.name"
            [text]="'Sender: ' + item.its_active_pass?.its_owner.fullName"
            (fireOptions)="passDetails($event, item)"></app-pass-item>
        </div>
    </ion-virtual-scroll>
    

    <app-empty-view *ngIf="this.plist.length == 0" icon="alert" text="You Have No Upcoming Invites"></app-empty-view>
</ion-content>
